Het toevoegen van een extra kolom waarbij de waarde van de laatste maand opgehaald wordt

Het doel van dit notebook is het maken van een kolom waarbij aan een datum de waarde van de laatste maand wordt toegevoegd. Doordat de maanden nu de waarde van de laatste maand hebben kunnen er voorspellingen gedaan worden op een maand.

In [1]:
import pandas as pd

Allereerst wordt de samengevoegde dataset opgehaald en bruikbaar gemaakt.

In [2]:
alle_data = pd.read_csv('alle_datasets.csv')

In [3]:
alle_data.drop(columns=['Unnamed: 0'], inplace=True)
alle_data

,Datum,TG,FHVEC,zonuren_dag,NettoVerbruikBerekend_30,CPI_energie,Q,SP
0,2000-01,4.329032,3.980645,1.806452,8847,52.22,201.774194,21.838710
1,2000-02,5.855172,4.296552,3.682759,8235,52.29,484.310345,36.827586
2,2000-03,6.796774,3.677419,2.583871,8738,52.73,629.258065,21.967742
3,2000-04,9.986667,2.840000,5.116667,7912,52.74,1263.600000,37.066667
4,2000-05,14.732258,2.900000,6.780645,8221,52.74,1701.903226,43.354839
...,...,...,...,...,...,...,...,...
259,2021-08,16.935484,2.677419,5.325806,8981,117.17,1391.612903,36.258065
260,2021-09,15.930000,2.160000,5.940000,9030,123.29,1165.900000,46.433333
261,2021-10,11.612903,3.045161,3.945161,9410,136.56,619.709677,36.774194
262,2021-11,7.380000,2.383333,1.946667,9678,163.61,276.566667,22.033333
263,2021-12,5.393548,3.067742,1.622581,10047,182.04,181.032258,20.806452

Met de functie shift worden alle waarde een plek opgeschoven. Hierdoor is de waarde van januari 2000 opgeschoven naar een nieuwe regel. Dit is voor elke feature gedaan.

In [4]:
alle_data['Temp_last_month'] = alle_data['TG'].shift(+1)
alle_data['Wind_last_month'] = alle_data['FHVEC'].shift(+1)
alle_data['Zon_last_month'] = alle_data['zonuren_dag'].shift(+1)
alle_data['Infl_last_month'] = alle_data['CPI_energie'].shift(+1)
alle_data['Q_last_month'] = alle_data['Q'].shift(+1)
alle_data['SP_last_month'] = alle_data['   SP'].shift(+1)
alle_data

,Datum,TG,FHVEC,zonuren_dag,NettoVerbruikBerekend_30,CPI_energie,Q,SP,Temp_last_month,Wind_last_month,Zon_last_month,Infl_last_month,Q_last_month,SP_last_month
0,2000-01,4.329032,3.980645,1.806452,8847,52.22,201.774194,21.838710,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-02,5.855172,4.296552,3.682759,8235,52.29,484.310345,36.827586,4.329032,3.980645,1.806452,52.22,201.774194,21.838710
2,2000-03,6.796774,3.677419,2.583871,8738,52.73,629.258065,21.967742,5.855172,4.296552,3.682759,52.29,484.310345,36.827586
3,2000-04,9.986667,2.840000,5.116667,7912,52.74,1263.600000,37.066667,6.796774,3.677419,2.583871,52.73,629.258065,21.967742
4,2000-05,14.732258,2.900000,6.780645,8221,52.74,1701.903226,43.354839,9.986667,2.840000,5.116667,52.74,1263.600000,37.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,2021-08,16.935484,2.677419,5.325806,8981,117.17,1391.612903,36.258065,17.987097,2.416129,6.264516,115.79,1674.290323,38.677419
260,2021-09,15.930000,2.160000,5.940000,9030,123.29,1165.900000,46.433333,16.935484,2.677419,5.325806,117.17,1391.612903,36.258065
261,2021-10,11.612903,3.045161,3.945161,9410,136.56,619.709677,36.774194,15.930000,2.160000,5.940000,123.29,1165.900000,46.433333
262,2021-11,7.380000,2.383333,1.946667,9678,163.61,276.566667,22.033333,11.612903,3.045161,3.945161,136.56,619.709677,36.774194
263,2021-12,5.393548,3.067742,1.622581,10047,182.04,181.032258,20.806452,7.380000,2.383333,1.946667,163.61,276.566667,22.033333

Om de dataset overzichtelijk te maken is alleen de datum, energie en de waarde van alle features in de laatste maand in de dataset te zien.

In [5]:
alle_data.drop(columns=['TG', 'FHVEC', 'zonuren_dag', 'CPI_energie', 'Q', '   SP'], inplace=True)

In [6]:
alle_data

,Datum,NettoVerbruikBerekend_30,Temp_last_month,Wind_last_month,Zon_last_month,Infl_last_month,Q_last_month,SP_last_month
0,2000-01,8847,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-02,8235,4.329032,3.980645,1.806452,52.22,201.774194,21.838710
2,2000-03,8738,5.855172,4.296552,3.682759,52.29,484.310345,36.827586
3,2000-04,7912,6.796774,3.677419,2.583871,52.73,629.258065,21.967742
4,2000-05,8221,9.986667,2.840000,5.116667,52.74,1263.600000,37.066667
...,...,...,...,...,...,...,...,...
259,2021-08,8981,17.987097,2.416129,6.264516,115.79,1674.290323,38.677419
260,2021-09,9030,16.935484,2.677419,5.325806,117.17,1391.612903,36.258065
261,2021-10,9410,15.930000,2.160000,5.940000,123.29,1165.900000,46.433333
262,2021-11,9678,11.612903,3.045161,3.945161,136.56,619.709677,36.774194
263,2021-12,10047,7.380000,2.383333,1.946667,163.61,276.566667,22.033333

In [7]:
alle_data.to_csv('Data_laatste_maand.csv')